/* Home */
#home{
  background: rgb(0,1,168);
  background: linear-gradient(90deg,rgb(0,1,168) 50%, rgba(10, 99, 172, 0.795) 100%);
  min-height:500px
}
/* Cards */
.card{
  transition: all 0.5s ease;
}
.card:hover{
  cursor: pointer;
  box-shadow: 0 .5rem 1rem rgb(0,0,0, .15);
}
/* Footer */
.footer{
  background: rgb(0,1,168);
  background: linear-gradient(90deg,rgb(0,1,168) 40%, rgba(10, 99, 172, 0.795) 100%);
}

